//Выравнивание модального окна без учета его размеров
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);//заменяем margin на свойство transform и больше не зависим от размеров окна 
    //но процентные значения свойства margin будут вычисляться относительно размеров родителя
    //минус такого решения в том б что при рендеринге текста и тонких линий они будут замыливаться при ресайзе
}

.modal_container {
    padding: 20px;
    background-color: #fff;
    color: #000;
} 
